*{
font-family: Arial, Helvetica, sans-serif;
}
body{
padding: 20px;
}
.box{
  display: flex;
  flex-flow: row;
}
.box1{
  display: flex;
  flex-flow: column;
  width: 25%;
}
.box2{
display: flex;
flex-flow: column;
border: solid 2px lightgrey;
width: 100%;

}

.box3{
  padding: 30px;
}
.box4{
  color:black;
  width: 60%;
    }
.sidenav.sidenav-fixed {
  padding-top: 40px;
  box-shadow: none ;
}

.MuiListItem-root{
border: none
   
}
.MuiListItemText-root.MuiListItemText-multiline{
  width: 100%;
  height: 100%;
  
}


 .cards{
display: flex;
flex-flow: row;
align-items: center;
justify-content: space-between;
width: 55%;
border: 1px solid #1faebc;
padding: 10px;
box-shadow: 5px 5px 8px grey;
border-radius: 5px;
 }

.buttonr{
  border-radius: 50px;
  height: 21px;
  background-color: #1faebc;
  border-color:#1faebc ;
  color: white;
}

.date{
  display:flex;
  flex-flow: row;
 
}

 /*Clases deshabilitadas*/
.cardsdisable{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  padding: 10px;
  box-shadow: 5px 5px 8px grey;
  border-radius: 5px;
} 
.buttonrdisable{
  border-radius: 50px;
  height: 21px;
  background-color:lightgray;
  border-color:lightgray;
  color: white;
}
.imgicondisable{
  filter: grayscale(100%);
}



/*mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

   body{
   padding:0;
    }
    .box{
      display: flex;
      flex-flow: row;
      
    }
    .box1{
      display: flex;
      flex-flow: column;
      display:none;
      background-color: darkgray;
    }
    .box2{
    display: flex;
    flex-flow: column;
    border: solid 2px lightgrey;
    width: 90%;
    
    
    }
    .box4{
      color:black;
      width: 100%;
      padding-left: 20px;
      align-items: center;
      }

    .MuiListItem-root{
   
    width: 100%;
    height: 100%;
    border: 1px solid #1faebc;
    box-shadow: 2px 2px 4px grey;
    border-radius: 5px;
       
    }

    .MuiListItemText-root.MuiListItemText-multiline{
      width: 100%;
      height: 100%;
      flex-flow: row;
      font-size: 10px;
    }
    
    
     .cards{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: none;
    border: none;
   

    } 

  
  .imgicon{
  width: 50px;
  height: 50px;
  }
  #start{
  font-size: 10px;
  height: 1em;
       
    }
 #appt{
  font-size: 10px;
  height: 1em;
     
    }
.date{
  height: 0;
  width: 50%;
  margin-top: 35px; 
}

.box4 h4 {
 font-size: 25px;
 
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){

  .box2{
    display: flex;
    flex-flow: column;
    border: solid 2px lightgrey;
    width: 100%;
   
  }

  
 .box3{
  padding: 10px;
  }

 

  .date{
   width: 15%;
   margin-top: 60px;
  }

  #start{
    font-size:13px;
    height: 1em;
         
      }
   #appt{
    font-size:13px;
    height: 1em;
   }
   .MuiListItem-root{
   
    width: 100%;
    height: 100%;
    border: 1px solid #1faebc;
    box-shadow: 2px 2px 4px grey;
    border-radius: 5px;
       
    }

    .cards{
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: none;
      width: 100%;
      box-shadow: none;
      border: none;
     
  
      } 







}